RewriteEngine On

# Si el archivo o directorio existe, sírvelo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# De lo contrario, redirige todo a index.html
RewriteRule ^ index.html [L]

