// ============================================
// CONTENEDOR
// ============================================

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;

  @each $breakpoint, $max-width in $container-max-widths {
    @include respond-to($breakpoint) {
      max-width: $max-width;
    }
  }
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
}

